@media (max-width: 991px){
  .introduce img {
    width: 25px;
  }
   .eppsHome {
    width: 100%;
  }

  .erpHome {
    width : 100%;
  }

  .daedongHome {
    width: 100%;
  }

  #slider-div img{
    width: 100%;
  }

  #slider-div2 img{
    width: 100%;
  }

  .name {
    display: none;
  }
  .skillTable th{
    width: 100px;
    vertical-align: top;
    font-size: 20px;
  }

  .skillTable td{
    font-size: 15px;
  }

  .skillTable li{
    padding-bottom: 10px;
  }

  .addProject {
    background: #3d689e;
    margin: 0 auto;
    width: 322px;
    height: 49px;
    border-radius: 9px;
    text-align: center;
    padding-top: 14px;
    font-size: 12px;
    color: white;
  }

  .portfolio-table img {
    width : 100%;
    margin-bottom: 30px;
  }
}


@media (min-width: 992px) {

  .introduce li {
    padding: 10px 0;
  }

  .introduce img {
    width: 25px;
  }
  .eppsHome {
    position: absolute;
    top: 3138px;
    left: 1173px;
    width: 254px;
  }

  .erpHome {
    position: absolute;
    top: 3422px;
    left: 1173px;
    width: 254px;
  }

  .daedongHome {
    position: absolute;
    top: 3752px;
    left: 1173px;
    width: 254px;
  }

  .skillTable th{
    width: 150px;
    vertical-align: top;
    font-size: 25px;
  }

  .skillTable td{
    font-size: 21px;
  }

  .skillTable li{
    padding-bottom: 10px;
  }

  .certification-li {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .name {
    font-size:20px;
    color: white;
  }

  .slick-arrow{
    z-index: 2; /* prev버튼은 위치 이동시 이미지 뒤로 숨겨짐 */
  }
  .slick-prev.slick-arrow{ /* prev 이전 */
	left: 15px;
  }
  .slick-next.slick-arrow{ /* next 다음 */
    right: 15px;
  }

  .hide {
    display: none !important;
    transition: 0.5s;
  }

  #slider-div img {
    width : 1020px;
  }

  #slider-div2 img {
    width : 1020px;
  }

  .addProject {
    background: #3d689e;
    margin-left: 138px;
    width: 1020px;
    height: 49px;
    border-radius: 9px;
    text-align: center;
    padding-top: 14px;
    font-size: 16px;
    color: white;
  }
  
  .portfolio-table img {
    width : 100%;
    margin-bottom: 30px;
  }
}